.cartButtonWaper {
    display: flex;
    gap: 15px;
    background-color: green;
    align-items: center;
    font-weight: bold;
    width: 100%;
}

.cartPrice {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

@media screen and (max-width: 480px) {
    .cartButtonWaperInner {
        width: 100%;
    }
}