@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0px;
  margin: 0px;
}

.Header-waper>.max-w-screen-2xl {
  max-width: none !important;
  padding-bottom: 0px;
  padding-top: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0px;
  padding: 0px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.p-6 {
  padding: .8rem;
  padding-top: 0px;
}

.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: rgb(0 128 0) !important;
  min-width: 31px !important;
  min-height: auto !important;
  opacity: 1;
  cursor: pointer;
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px) !important;
}