.cardWapper{
    width: 180px !important;
}
.productTitle {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 18px;
    width: 100%;
    height: 36px;
    margin-bottom: 6px;
    font-family: system-ui;
}

.cardBody {
    padding-bottom: 12px;
    padding-left: 15px;
    padding-left: 15px;
    font-family: system-ui;
}

.cardFooter {
    padding-top: 0px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-family: system-ui;
}

.deliveryTime {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
    color: rgb(102 100 100);
    background-color: #ebe7e7;
    width: auto;
    display: inline;
    /* padding: 2px; */
    border-radius: 10%;
    padding-left: 5px;
    padding-right: 5px;
}

.buttonStyle {
    width: 100px;
}
.cardImg{
    display: flex;
    justify-content: center;
}


.CardfooterWapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    font-family: system-ui;
    flex-wrap: wrap;
}
.CardfooterPieces {
    font-size: 12px;
    color: gray;
    height: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: system-ui;
}