.productContainer {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;

}

.productContainerCanvas {
    /* margin-top: 20px; */
}

.productImageArea {
    max-width: 55%;
    height: 100%;
    /* border-right: 1px solid rgb(242, 242, 242); */
}

.Product__RightPaddingContainer {
    padding-right: 4rem;
}

.ProductCarousel__ImageContainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.ProductCarousel__Img {
    cursor: crosshair;
    width: 480px;
    height: 480px;
    position: relative;
    user-select: none;
}


.productDetailsView {
    width: 50%;
    padding-left: 48px;
    padding-top: 48px;
    border-left: 1px solid rgb(242, 242, 242);

}

.ProductInfoCard__ProductInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ProductInfoCard__ZoomedImageContainer {
    position: relative;
}

.ProductVariants__PriceContainer {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    min-width: max-content;
}

.ProductVariants__OutOfStockText {
    font-weight: 600;
    color: rgb(105, 105, 105);
    text-transform: lowercase;
}

.ProductInfoCard__Breadcrumb {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(54, 54, 54);
    margin: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.ProductInfoCard__ProductName {
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0px;
}

.ProductInfoCard__EtaTagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    height: 20px;
}

.ProductInfoCard__BrandContainer {
    display: flex
}

.ProductInfoCard__BrandLink {

    color: rgb(12, 131, 31) !important;
    font-size: 18px !important;
    line-height: 24px !important;
    font-family: Okra-Medium !important;
}

.ProductInfoCard__Divider {
    height: 0.5px;
    margin: 8px 0px;
    width: 100%;
    background-color: rgb(232, 232, 232);
}

.ProductVariants___StyledDiv2 {
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
}

.ProductVariants__VariantDetailsContainer {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: left;
    gap: 4px;
}

.ProductVariants__VariantUnitText {
    font-size: 12px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(31, 31, 31);
}

.ProductVariants__TaxText {
    color: rgb(79, 79, 79);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.GrofersPromises__PDPPromiseContainer {
    display: inline-block !important;
}

.GrofersPromises__PDPPromiseHeader {
    margin-top: 24px;
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 16px;

}

.first_row {
    margin: 0;
}

.first_row .column {
    margin: 16px 0;
    display: flex;
    color: gray;
    font-size: 14px
}

.first_row__icon {
    background-repeat: no-repeat;
    background-size: 56px 56px;
    padding-right: 16px;
    width: 56px;
    height: 56px;
    display: table-cell;
    vertical-align: middle;
}


@media only screen and (max-width: 600px) {}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    .productContainer {
        display: flex;
        -webkit-box-align: stretch;
        align-items: stretch;
        justify-content: start !important;
        flex-wrap: wrap;

    }

    .productDetailsView {
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
        border-left: 1px solid rgb(242, 242, 242);
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/**********
    iPad 3
    **********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

.catagoryPageWaper {
    display: flex;
    flex-wrap: wrap;
}