.header_warper{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding-bottom: 5px;
    padding-top: 5px;
    flex-wrap: wrap;
}
/* @media only screen and (max-width: 600px) {
   .cartCheckOutLogin{
    display: none;
   }
   .cartCheckOutCamera{
    display: none;
   }
} */

@media screen and (max-width: 480px) {
    .cartCheckOutLogin{
     display: none;
    }
    .cartCheckOutCamera{
     display: none;
    }
    .cartCheckOutBacket{
        
    }
 }

